@font-face {
    font-family: Cyber;
    src: url(../fonts/Cyberpunk.ttf);
}

@font-face {
    font-family: Ocra;
    src: url(../fonts/OCRAEXT.TTF);
}
body {
    background-color: black;
}

h1 {
   font-family: Cyber;
   text-align: center;
   color: green; 
   margin-top: 15%;
}

input {
    background-color: black;
    border: 2px solid green;
    color: green;
    font-size: 25px;
    padding: 5px 0;
    padding-left: 10px;
    width: 25%;
    margin: 0% 37.5%;
    margin-top: 10px;
    font-family: Ocra;

}

::placeholder {
    color: green;
}

#flashed {
    color: red;
    font-size: 25px;
    font-family: Ocra;
    text-align: center;
}

button {
    background-color: black;
    color: green;
    font-size: 25px;
    padding: 5px 5px;
    margin-top: 10px;
    margin-left: 37.5%;
    font-family: Ocra;
    border: 2px solid green;
}

button:hover {
    background-color: green;
    color: black;
}