{% extends "base.html" %}
{% block content %}
<h1 id="codeHead">CAREER</h1>
    <div class="row skillsRow">
        <div class="col-6 headS">
            <h4>EXPERIENCE</h4>
            <!-- <button class="skills-b">AUTOMATION</button> -->
            <button class="skills-b">IBM - BANGLORE</button>
            <button class="skills-b">CESS - BEGUMPET</button>
            
        
        </div>
        
        <div class="col-6 headS">
            <h4>CERTIFICATIONS</h2>
            

        </div>
        
        
    </div>
{% endblock %}