<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    
    <title>Login</title>
</head>
<body>
    <h1>LOGIN</h1>    
    <form action="/" method="POST">
        <input type="text" placeholder="Username" name="uname">
        <input type="password" placeholder="Password" name="pwd">
        <button>Submit</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p id="flashed">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a href="forgot_password"><p>Forgot Password</p></a>
    <button id="register" onclick="location.href='/register';">Create New Account</button>
   

</body>
</html>