<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">
    <title>Document</title>
</head>
<body>
    <h1>PROGER</h1>
    <form action="register" method="POST">
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="uname" placeholder="Username" required>
        <input type="password" name="pwd1" placeholder="Password" required>
        <input type="password" name="pwd2" placeholder="Password Again" required>
        <input type="text" name="sQn" placeholder="Type your own Security Question" required>
        <input type="text" name="sQA" placeholder="Answer" required>
        <button>REGISTER</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p id="flashed">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a href="/"><p>Already have an account ?</p></a>
</body>
</html>